@import 'mixin/mediaquery';
@import 'colors';
@import 'fallbacks/background_color';

main {
    .container {
        min-width: 100%;
    }

    .transition {
        @include backgroundcolor(findkey-map-by-value($colors,$color-red),$color-red);
        z-index: 10;
        width: 100%;
        position: absolute;
        height: 100%;
    }

    .transition-left-lessthan-100 {
        left: -100%;
    }

    .transition-left-0 {
        left: 0;
    }

    .transition-left-greaterthan-100 {
        left: 100%;
    }

    .begin-transition-animate {
        animation-name: beginanimatetransition;
        animation-duration: 0.5s;
        animation-play-state: running;
    }

    .end-transition-animate {
        animation-name: endanimatetransition;
        animation-duration: 0.5s;
        animation-play-state: running;
    }
}
