<div class="row">
    <div class="col text-center header">
        <span class="color-text-red">Mí</span> Portafolio
    </div>
</div>

<div class="row">
    <div class="col text-center header-caption">
        <span class="header-caption">Algunos de mis <span class="color-text-red">trabajos y/o ejercicios.</span></span>
    </div>
</div>

<br />
<br />

<div class="row g-4 portfolio">

    <div class="col-md-5 offset-md-1 image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Microsoft_Office_Word_%282019%E2%80%93present%29.svg/1200px-Microsoft_Office_Word_%282019%E2%80%93present%29.svg.png" alt="Template word">
    </div>

    <div class="col-md-5 align-self-center">
        <div class="description">
            <h2>Template Word</h2>
            <p>
                En este ejemplo se puede visualizas un ejemplo de llenado de un Word por medio de un
                témplate utilizando los datos que el usuario proporciona
            </p>
            <div class="button">
                <a class="btn btn-primary" asp-action="Index" asp-controller="TemplateWord">
                    <span class="index"> View Project<i class="gg-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row g-4 portfolio">

    <div class="col-md-5 offset-md-1 image">
        <img src="https://img.freepik.com/vector-gratis/repartidor_1284-12633.jpg?size=338&ext=jpg" alt="Repartidores">
    </div>

    <div class="col-md-5 align-self-center">
        <div class="description">
            <h2>Manejo de repartidores</h2>
            <p>
                En este ejemplo se muestra un pequeño sistema de manejo de repartidores, en el se tiene una lista
                de 8 motociclistas en un horario de 9:00 am a 8:00 pm en el cual un usuario puede apartar un repartidor
                dentro del horario.
            </p>
            <div class="button">
                <a class="btn btn-primary" asp-action="Index" asp-controller="Dealer">
                    <span class="index"> View Project<i class="gg-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>

<br />
<br />